
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.link-div{
    display: flex;
    
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}
/*#main-nav styling */

#main-nav{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    z-index: 999;
    /* background-color: skyblue; */
    font-family: 'Ubuntu',sans-serif;
    transition: all 0.3s ease;
}
#main-nav.sticky{
    padding: 15px 0;
    background-color:#145DA0;

}
#main-nav .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* text-shadow: 0 0 15px yellow, 0 0 25px yellow;
    animation: animate 1.5s linear infinite; */

}
#user-detail-name{
    text-shadow: 0 0 15px #145DA0, 0 0 25px #145DA0;
    animation: animate 1.5s linear infinite;
}
@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
#main-nav .logo a{
    color:#fff;
    font-size: 35px;
    font-weight: 600;
    font-family: cursive;
}
#main-nav .logo a span{
    color:#fff;
    transition: all 0.3s ease;
}
#main-nav.sticky .logo a span{
   color:#fff;
}
#main-nav .menu li{
    list-style: none;
    display: inline-block;
}
#main-nav .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500px;
    margin-left: 25px;
  transition: color 0.3s;
}

#resume-button-1{
    border: none;
    background-color:transparent;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500px;
}


#resume-button-1:hover{
    color: rgb(14, 14, 14);
    transition: color 0.3s;
    filter: blur(0px);
    
    
}

#main-nav .menu li a:hover{ 
      font-variation-settings: "wght" 582; 
      letter-spacing: 2px;
      border-bottom: 2px solid #145DA0;
      
      

}
#main-nav.sticky .menu li a:hover{
    color: #fff;
    transition: color 0.3s;
    border-bottom: 2px solid rgb(192, 12, 138);
    
 }
 /* menu btn styling */

 .menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
    
    
 }
/* home section start  */

.home{
    display: flex;
    background: url("https://e0.pxfuel.com/wallpapers/846/344/desktop-wallpaper-portfolio-thumbnail.jpg") no-repeat ;
    background-size: cover;
    height: 100vh;
    color:#fff;
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px ;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;

}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;

}
.home .home-content .text-3 span{
    color: #fff;
    font-weight: 500;

}

.home .home-content a{
    display: inline-block;
    background: transparent;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(248, 249, 250);
    transition: all 0.4 ease;

}
.home .home-content a:hover{
    color:  rgb(248, 249, 250);
    box-shadow: 0 0 5px #145DA0, 0 0 25px #35c00b, 0 0 50px #145DA0, 0 0 200px #145DA0; 
}

/* all section similer section*/
section{
    padding:100px 30px;
    background-color: aliceblue;background-image: url("https://images.rawpixel.com/image_400/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk2MC1uaW5nLTMwLmpwZw.jpg");
    background-size: cover;
     background-attachment: fixed;
}
.about, .skills, .projects,.github,.contact,footer{
    font-family: 'poppins',sans-serif;
}
.about .about-content,.contact .contact-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
   justify-content: space-between;
  
}
section .title {

    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom:20px ;
    font-family: "ubuntu",sans-serif;

}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translate(-50%);
}
section .title::after{
   
    color: #145DA0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    padding: 5px;
    background:  transparent;
    transform: translate(-50%);
}

/* about section :start */



.about  .title::after{
    content: "";
}


.about .about-content .left{
    width: 30%;
    margin: auto;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 200px 200px;
}
.about .about-content .right{
    width: 60%;
}

.about .about-content .right .text{
    /* padding-right: 40px; */
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color:#145DA0;
}
.about .about-content .right p{
    text-align: justify;
      padding-right: 90px;
    
}
.about .about-content .right a{
    display: inline-block;
    background: #145DA0;
    color:  aliceblue;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 30px;
  
    border-radius: 6px;
    border: 2px solid#145DA0;
    transition: all 0.4 ease;
}
.about .about-content .right button{
  margin-top: 80px;
  border: none;
}
.about .about-content .right a:hover{
    background: transparent;
    color: #145DA0;
    background:  aliceblue;
}

/* skell section staarting */
.skills  .title::after{
    content: "what i know";
    background: #e5ecf0;
}

#skills{
    background-image: url("https://images.rawpixel.com/image_400/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk2MC1uaW5nLTMwLmpwZw.jpg");
    background-size: cover;
     background-attachment: fixed;
}

#skills-part{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 2rem;
    

}
#skills_2{
    background-image: url("https://images.rawpixel.com/image_400/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk2MC1uaW5nLTMwLmpwZw.jpg");
    background-size: cover;
     background-attachment: fixed;
}
.skills-card{
    /* background-color:skyblue; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background: var(--bg-color);
    padding: 35px 25px;
    border-radius: 8px;
    transition: all .45s ease;
    color: #fff;
    text-align: center;
    justify-content: center;
    border-radius: 350px;
  

}
.skills-card-img i{
    font-size: 32px;
    margin-bottom: 20px;
}

.skills-card h3{
    font-size: 24px;
    font-weight: 600;
    color: black;
    margin-bottom: 15px;
    text-align: center;
    
}
.skills-card p{
    color: var(--second-color);
   
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
}


.skills-card:hover{
    transform: translateY(-8px);
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color:#145DA0;
}

/* projects section starts */
.projects .title::after{
    content: "Latest Projects";
    background: #e5ecf0;
}
.projects{
    color: #131212;
    background: #e5ecf0;
}
.projects .title::before{
    background: #fff;
}

.projects .carousel .project-card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #4c3d47;
    color: #fff;
    /* text-align: justify; */
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  transition: all 0.3s ease;
  margin-bottom: 12%;
  margin-top: 12%;

}
.project-card{
    height: 450px;
}
.projects .carousel .project-card:hover{
    background: #145DA0;
}
.projects .carousel .project-card:hover .box{
   transform: scale(1.05);
}
.projects .carousel .project-card .box{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     transition: all 0.3s ease;
}
.projects .carousel .caproject-cardrd  .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.projects .carousel .project-card img{
    
    height: 150px;
    width: 90%px;
    object-fit: cover;
    
    border: 5px solid #145DA0;
    transition: all 0.3s ease;
}

.projects .carousel .project-card:hover img{
    border-color: #fff;
}

.owl-dots{
   text-align: center;
   margin-top: 20px;

}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none! important;
    border-radius: 50%;
    border: 2px solid #145DA0! important;
    transition: all 0.3s ease

}

.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,

.owl-dot.active{
   background-color: #145DA0! important;
}





/* github section start */
/* * github section -------------- */ 
#stat{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2rem;
    /* justify-content: center; */
    margin-top: 2rem;
    margin: auto;
}
#stat div {
    /* align-items: center; */
    width: 90%;
     margin:auto;
}
#stat div img{
  
    width: 90%;
  
}
.github .title::after{
    content: "My submition";
   
}
.github{
    color: #444;
    background-image: url("https://images.rawpixel.com/image_400/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk2MC1uaW5nLTMwLmpwZw.jpg");
}
.github .title::before{
    background: #fff;
}
.cal{
    margin-top: 5%;
    margin-bottom: 7%;
    border: 2px #145DA0;
}

/* contect sectin css start hare */

.contact  .title::after{
    content: "";
}

.contact .contact-content .column{
    width:  calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p{
    text-align:justify;
}

.contact .contact-content .left .icons{
    margin:10px 0;
}

.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info{
   margin-left: 30px

}

.contact .contact-content .info{
    margin-left: 30px
 
 }
 .contact .contact-content .row i{
     font-size :25px;
     color: #145DA0;
     transition: all 0.5s ease
 
 }
 .contact .contact-content .row i:hover{
    font-size :25px;
    color: #333;
   


}

 .contact .contact-content .info .head{
    font-weight: 500;;
 }

 .contact .contact-content .info .sub-title{
     color:#333
 }
 .contact .right form .fields{
    display: flex;
 }
 .contact .right form .field,
 .contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;

 }
 .contact .right form .textarea{
    height: 80px;
    width: 100%;
 }
 .contact .right form .name{
     margin-right:10px; 
 }

 .contact .right form .email{
    margin-right:10px; 
}


 .contact .right form .field input,
 .contact .right form .textarea textarea{
     height: 100%;
     width: 100%;
     border: 1px solid #145DA0;
     border-radius: 6px;
     outline: none;
     padding: 0 15px;
     font-size: 17px;
     font-family: 'Poopins', sans-serif;

 }
 .contact .right form .textarea textarea{
     padding-top: 10px;
     resize: none;
 }
 .contact .right form .button{
      height: 47px;
      width: 170px;
 }
 .contact .right form .button button{
    height: 100%;
    width: 100%;
    border: 2px solid #145DA0;
    background: #145DA0;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
  transition: all 0.3s ease;
 }

 .contact .right form .button button:hover{
    color: #145DA0;
    background: none;
 }

 .end{
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: #444;
}
.last-text p{
    color: #fff;
    font-size: 14px;
}
/* arrow============================ */
.top i{
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    background-color: #145DA0;
    color: #fff;
}


/* responsive media query start */
@media(max-width: 1400px){
    .home .max-width{
        margin-left: 0px;
    }
    .about .about-content .left img{
        margin-left: 0px;
        height: 430px;
        width:  300px;
       
    }
    .about .about-content .right p{
        text-align: justify;
          padding-right: 0px;
        
    }
    

}
@media(max-width: 1200px){

    .about .about-content .left img{
        margin-left: 0px;
        height: 430px;
        width:  300px;
       
    }
    .about .about-content .right{

       width: 50%;

     }
     .about .about-content .right p{
        text-align: justify;
          padding-right: 90px;
        
    }
    .cal{
        margin-top: 10%;
        margin-bottom: 18%;
    }
    #main-nav.sticky .menu li a:hover{
        color:coral;
        transition: color 0.3s;
        
     }

}

@media(max-width: 991px){
    .max-width{
        padding: 0 50px;
     }

     .about .about-content .right p{
        text-align: justify;
          padding-right: 0px;
        
    }
    #main-nav.sticky .menu li a:hover{
        color:#145DA0;
        transition: color 0.3s;
        
     }
}



@media(max-width: 947px){
    .menu-btn{
        color: #fff;
        font-size: 23px;
        cursor: pointer;
        display: block;
        z-index: 999;
     }
     .menu-btn i.active:before{
        content:"\f00d" ;
     }
     .max-width{
        padding: 0 50px;
     }

     #main-nav .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left:-100%;
        top:0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;

    }
    #main-nav .menu.active{
        left: 0;
    }
   
    #main-nav .menu li{
        display: block;
    }
    #main-nav .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;

    }

    .home .home-content .text-2{
        font-size: 70px;
        
    
    }
    
    .home .home-content .text-3{
        font-size: 35px;
      
    
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }

    .about .about-content .right{

        width: 100%;

    }
    .max-width{
        max-width: 100%;
       
    }
    .about .about-content .left{

       display: flex;
       justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{

        flex: 100%;
        /* width: 100%; */

     }
     .about .about-content .right p{

        /* flex: 100%; */
        width: 100%;

     }
     #main-nav.sticky .menu li a:hover{
        color:#145DA0;
        transition: color 0.3s;
        
     }

     .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
     }
   
     #resume-button-1{
        background: #111;
        font-size: 23px;
     }
     #resume-button-1:hover{
        color:#145DA0;
        transition: color 0.3s;
     }
    

}

@media(max-width: 690px){
    .max-width{
        padding: 0 23px;
     }
    
     .home .home-content .text-2{
        font-size: 60px;
        
    
    }
    
    .home .home-content .text-3{
        font-size: 32px;
      
    
    }
    .home .home-content a{
        font-size: 20px;
       
    }
    #main-nav.sticky .menu li a:hover{
        color:#145DA0;
        transition: color 0.3s;
        
     }
}

@media(max-width: 500px){
    
    
    
     .home .home-content .text-2{
        font-size: 50px;
        
    
    }
    
    .home .home-content .text-3{
        font-size: 27px;
      
    
    }
    #main-nav.sticky .menu li a:hover{
        color:#145DA0;
        transition: color 0.3s;
        
     }
     .projects .title::after{
        content: "";
        display: none;
    }
    .skills  .title::after{
        content: "what i know";
    }
}




